In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

events = pd.read_csv('events_up_to_01062018.csv')
training = pd.read_csv('labels_training_set.csv')

/home/victorbelosevich/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score, classification_report, mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
training.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [5]:
eventsWithLabel = events.merge(training, how='left', left_on='person', right_on='person')
eventsWithLabel.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
eventsWithLabel['timestamp'] = pd.to_datetime(eventsWithLabel['timestamp'])

In [7]:
groupbyPersonas = eventsWithLabel.loc[:,['person', 'event']].groupby('person')
dicc = {}
for clave, data in groupbyPersonas:
    lista = []
    lista = data.drop_duplicates(subset = 'event', keep = 'first')['event'].tolist()
    dicc[clave] = lista

In [8]:
#Obtengo una lista de todos los eventos que tiene esa persona
eventsWithLabel['eventos'] = eventsWithLabel['person'].map(lambda x: dicc[x])
#Obtengo los dias de la semana
eventsWithLabel['dayweek'] = eventsWithLabel.timestamp.dt.dayofweek
#Obtengo la fecha
eventsWithLabel['fecha'] = eventsWithLabel.timestamp.dt.date
#Separo la marca
eventsWithLabel['marca'] = eventsWithLabel['model'].map(lambda x: str(x).split()[0])

In [9]:
#cantidad de personas que ingresaron 27624.
groupbyCantEventos = eventsWithLabel.groupby('person', as_index = False)['event'].agg({'cantEventos': 'count'})
groupbyCantEventos.sort_values(by = 'cantEventos', ascending = False)
eventsWithLabel = pd.merge(eventsWithLabel, groupbyCantEventos, on = 'person')

In [10]:
#Filtro a la gente que no tiene el evento visited_site
personasConVisitas = eventsWithLabel.loc[eventsWithLabel['event'] == 'visited site']\
                             .drop_duplicates(subset = 'person', keep = 'first')['person'].tolist()
dataNotVisit = eventsWithLabel.loc[eventsWithLabel['person'].isin(personasConVisitas)]

In [11]:
eventsWithLabel2 = dataNotVisit.loc[dataNotVisit['event'] == 'visited site'].groupby(['person', 'fecha'], as_index = False).agg({'city': 'first', 'region': 'first', 'country': 'first', 'device_type': 'first', 'operating_system_version': 'first', 'channel': 'first', 'new_vs_returning': 'first'})

In [12]:
eventsWithLabel3 = pd.merge(dataNotVisit, eventsWithLabel2, on = ['person', 'fecha'])
eventsWithLabel3.drop(['region_x', 'device_type_x', 'operating_system_version_x', 'country_x', 'city_x', 'channel_x', 'new_vs_returning_x'], axis = 1, inplace = True)
eventsWithLabel3.rename(columns = {'region_y': 'region', 'device_type_y': 'device_type', 'operating_system_version_y': 'SO', 'city_y': 'city', 'country_y': 'country', 'channel_y': 'channel', 'new_vs_returning_y': 'new_vs_returning'}, inplace =True)

In [13]:
def obtenerSistema(so):
    sistema = so.split()
    if len(sistema) > 1:
        otro = sistema[1].split('.')[0]
        return sistema[0] + ' ' + otro
    else:
        return sistema[0]

In [14]:
eventsWithLabel3['SO'] = eventsWithLabel3['SO'].map(obtenerSistema)

In [15]:
le = LabelEncoder()

In [16]:
eventosUnicos = eventsWithLabel3.drop_duplicates(subset='event', keep='first').reset_index()
eventosUnicos['event']

0        viewed product
1     search engine hit
2              checkout
3     searched products
4       generic listing
5          visited site
6       ad campaign hit
7         brand listing
8                  lead
9            staticpage
10           conversion
Name: event, dtype: object

In [17]:
le.fit(eventosUnicos['event'])

LabelEncoder()

In [18]:
eventsWithLabel3['event'] = le.fit_transform(eventsWithLabel3['event'])

In [19]:
eventsWithLabel3['condition'] = eventsWithLabel3['condition'].fillna(value='idk')
condicionesUnicos = eventsWithLabel3.drop_duplicates(subset='condition', keep='first').reset_index()
condicionesUnicos['condition']

0             Excelente
1                   idk
2             Muito Bom
3    Bom - Sem Touch ID
4                   Bom
5                  Novo
Name: condition, dtype: object

In [20]:
le.fit(condicionesUnicos['condition'])

LabelEncoder()

In [21]:
eventsWithLabel3['condition'] = le.fit_transform(eventsWithLabel3['condition'])

In [22]:
eventsWithLabel3['color'] = eventsWithLabel3['color'].fillna(value='idk')
coloresUnicos = eventsWithLabel3.drop_duplicates(subset='color', keep='first').reset_index()
coloresUnicos['color']

0              Dourado
1                  idk
2       Cinza espacial
3             Prateado
4               Branco
5            Ouro Rosa
6      Preto Brilhante
7                Preto
8          Preto Matte
9                 Rosa
10     Olympic Edition
11            Vermelho
12               Bambu
13      Preto Vermelho
14                Ouro
15            Platinum
16             Titânio
17     Branco Vermelho
18               Prata
19    Branco Framboesa
20         Azul Escuro
21                Azul
22          Verde Água
23        Branco Bambu
24                Iuna
25          Preto Azul
26        Couro Marrom
27              Indigo
28         Branco Azul
29       Couro Vintage
            ...
34         Azul Safira
35        Azul Topázio
36                Roxo
37               Rouge
38               Coral
39            Ametista
40        Preto Tabaco
41         Black Piano
42            Cabernet
43               Verde
44             Amarelo
45    Branco Azul Navy
46            Turquesa
47               Cinza
48                Rose
49         Preto Bambu
50          Preto Pink
51      Branco Dourado
52        Preto Branco
53           Framboesa
54      Verde Petroleo
55     Branco Cabernet
56        Branco Verde
57      Preto Cabernet
58               Cobre
59         Couro Vinho
60                Ônix
61       Preto Asfalto
62               Cromo
63              Silver
Name: color, Length: 64, dtype: object

In [23]:
le.fit(coloresUnicos['color'])
eventsWithLabel3['color'] = le.fit_transform(eventsWithLabel3['color'])

In [24]:
eventsWithLabel3['storage'] = eventsWithLabel3['storage'].fillna(value='idk')
storageUnicos = eventsWithLabel3.drop_duplicates(subset='storage', keep='first').reset_index()
storageUnicos['storage']

0     32GB
1      idk
2     64GB
3     16GB
4    128GB
5    256GB
6      8GB
7      4GB
8    512MB
Name: storage, dtype: object

In [25]:
le.fit(storageUnicos['storage'])
eventsWithLabel3['storage'] = le.fit_transform(eventsWithLabel3['storage'])

In [26]:
eventsWithLabel3['model'] = eventsWithLabel3['model'].fillna(value='idk')
modelosUnicos = eventsWithLabel3.drop_duplicates(subset='model', keep='first').reset_index()
modelosUnicos['model']

0                        Samsung Galaxy J7 Prime
1                                            idk
2                                      iPhone 5s
3                                      iPhone SE
4                                       iPhone 5
5                                      iPhone 6S
6                                       iPhone 6
7                          iPad Air 2 Wi-Fi + 4G
8                              iPad Mini 4 Wi-Fi
9                            iPad Air Wi-Fi + 4G
10                             iPad Mini 3 Wi-Fi
11                                iPhone 6S Plus
12                                      iPhone X
13                                 iPhone 7 Plus
14                                      iPhone 7
15                        Samsung Galaxy S7 Edge
16                                 iPhone 6 Plus
17                     Motorola Moto G4 Play DTV
18                         Motorola Moto G4 Plus
19                         Motorola Moto G5 Plus
20                                      LG G5 SE
21                             Motorola Moto G5
22                                   LG G4 H818P
23                                   LG G4 H815P
24                                 Quantum GO 4G
25                                Sony Xperia Z2
26                           Sony Xperia Z3 Dual
27                        Samsung Galaxy A7 2017
28                               LG G4 Beat H736
29                  Motorola Moto X Play 4G Dual
                         ...
178                            iPad 4 Wi-Fi + 4G
179                        Samsung Galaxy J7 PRO
180                              Quantum Muv Pro
181            Samsung Galaxy S3 Neo Duos i9300i
182                 Samsung Galaxy Tab E 7 Wi-Fi
183                       iPad Mini 2 Wi-Fi + 4G
184                                    Asus Live
185                              Asus Zenfone Go
186                         Asus Zenfone 2 Laser
187    Samsung Galaxy Tab A 2016 10.1  W-Fi + 4G
188                                Quantum GO 3G
189                          Motorola Moto G1 4G
190                             Outros TV LED 15
191                                 iPad 2 Wi-Fi
192                      Asus Zenfone 2 Laser 6"
193          Samsung Galaxy Tab E 9.6 Wi-Fi + 3G
194              Samsung Galaxy Tab S 10.5 Wi-Fi
195                                  LG L80 Dual
196                              LG G2 Mini D618
197                      Samsung Galaxy S Duos 2
198                          Motorola Moto G1 3G
199                       iPad Mini 4 Wi-Fi + 4G
200                               Xiaomi Redmi 2
201            Samsung Galaxy Tab E 7 Wi-Fi + 3G
202                          Sony Xperia Z ULTRA
203                 Samsung Galaxy Pocket 2 Duos
204               Samsung Galaxy Young 2 Duos TV
205                             Motorola Moto E1
206              Samsung Galaxy Tab 4 10.1 Wi-Fi
207                                   LG Nexus 4
Name: model, Length: 208, dtype: object

In [27]:
le.fit(modelosUnicos['model'])
eventsWithLabel3['model'] = le.fit_transform(eventsWithLabel3['model'])

In [28]:
eventsWithLabel3['search_term'] = eventsWithLabel3['search_term'].fillna(value='idk')
searchTermUnicos = eventsWithLabel3.drop_duplicates(subset='search_term', keep='first').reset_index()
searchTermUnicos['search_term']

0                                                idk
1                                                 J7
2                                           iphone 6
3                                          iphone 6s
4                                               ipad
5                                             iphone
6                                            moto e4
7                                              lg q6
8                                          iPhone se
9                                          iPhone SE
10                                            6splus
11                                    iphone 6s 32gb
12                                           zenfone
13                                    asus zenfone 4
14                                                e4
15                                              asus
16                                                g5
17                                                j5
18                                                j7
19                                      moto g5 plus
20                                           moto g5
21                                             64 gb
22                                            j5 pro
23                                           g4 plus
24                                                s7
25                                            j7 pro
26                                           moto g6
27                                          j7 prime
28                                           moto z2
29                                            moto z
                            ...
10806                          Sony xperia xa1 ultra
10807                                            Mix
10808                                        J2 plus
10809                                           Apol
10810                      celular galaxy gran prime
10811                          celular iphone 6 plus
10812                             celular gram prime
10813                                 Galaxy S7 plus
10814                                      Aifhone 7
10815                                     i phone 7s
10816                         iphone 7 plus vermelho
10817                                   galaxy j7 ro
10818                            Iphone 6 16gb prata
10819                                  Ipone 6 16 gb
10820                                        Ipone 6
10821                        moto g4 plus troca fone
10822                                     Zénfone 4.
10823                                         Iphome
10824                                    Galaxy mote
10825                                   moto Z2 play
10826                                 galaxy noite 5
10827                                          note4
10828                     Samsung SM-J500M Galaxy J5
10829                                  Iphone 7 prus
10830                                        Ayphony
10831                                      Galax s 7
10832                                           Ásia
10833                                       Desapega
10834    BUY-BACK - GRADE C2 - IPAD 3 4G 16GB BRANCO
10835                          IPAD 3 4G 16GB BRANCO
Name: search_term, Length: 10836, dtype: object

In [29]:
le.fit(searchTermUnicos['search_term'])
eventsWithLabel3['search_term'] = le.fit_transform(eventsWithLabel3['search_term'])

In [30]:
eventsWithLabel3['campaign_source'] = eventsWithLabel3['campaign_source'].fillna(value='idk')
campaingUnicos = eventsWithLabel3.drop_duplicates(subset='campaign_source', keep='first').reset_index()
campaingUnicos['campaign_source']

0                  idk
1               criteo
2               google
3             rtbhouse
4                zanox
5               emblue
6               afilio
7             manifest
8          FacebookAds
9                voxus
10             rakuten
11               yotpo
12              indexa
13           datacrush
14                bing
15            Facebook
16      FacebookSocial
17                blog
18             buscape
19         mercadopago
20            afiliado
21              onsite
22    MARKETING SOCIAL
23             gizmodo
Name: campaign_source, dtype: object

In [31]:
le.fit(campaingUnicos['campaign_source'])
eventsWithLabel3['campaign_source'] = le.fit_transform(eventsWithLabel3['campaign_source'])

In [32]:
eventsWithLabel3['search_engine'] = eventsWithLabel3['search_engine'].fillna(value='idk')
searchEngineUnicos = eventsWithLabel3.drop_duplicates(subset='search_engine', keep='first').reset_index()
searchEngineUnicos['search_engine']

0       idk
1    Google
2     Yahoo
3      Bing
4       Ask
Name: search_engine, dtype: object

In [33]:
le.fit(searchEngineUnicos['search_engine'])
eventsWithLabel3['search_engine'] = le.fit_transform(eventsWithLabel3['search_engine'])

In [34]:
eventsWithLabel3['screen_resolution'] = eventsWithLabel3['screen_resolution'].fillna(value='idk')
screenUnicos = eventsWithLabel3.drop_duplicates(subset='screen_resolution', keep='first').reset_index()
screenUnicos['screen_resolution']

0            idk
1        360x640
2       1360x768
3       1536x864
4       1280x800
5        412x732
6       1366x768
7        320x534
8      1920x1080
9       1440x900
10      1280x720
11       320x570
12       480x800
13       320x568
14      1600x900
15      1024x600
16      1280x768
17      600x1024
18       403x671
19       424x753
20       640x360
21      1024x768
22       375x667
23     1680x1050
24       570x320
25      1301x731
26      1242x698
27       320x480
28       534x320
29      1093x615
         ...
364     1295x731
365     1152x768
366      820x432
367     1207x678
368     768x1366
369      360x597
370      597x360
371      911x683
372    2102x1182
373      371x619
374      405x719
375    2000x2000
376      501x891
377      480x329
378     1511x853
379     1236x698
380      317x465
381    1083x2162
382      480x783
383     1536x865
384      240x274
385     1516x947
386     1108x692
387     1438x809
388     1756x988
389     1280x819
390      377x628
391     1067x640
392      471x838
393      500x715
Name: screen_resolution, Length: 394, dtype: object

In [35]:
le.fit(screenUnicos['screen_resolution'])
eventsWithLabel3['screen_resolution'] = le.fit_transform(eventsWithLabel3['screen_resolution'])

In [36]:
eventsWithLabel3['browser_version'] = eventsWithLabel3['browser_version'].fillna(value='idk')
browserUnicos = eventsWithLabel3.drop_duplicates(subset='browser_version', keep='first').reset_index()
browserUnicos['browser_version']

0                                  idk
1                   Chrome Mobile 64.0
2                   Chrome Mobile 66.0
3                   Chrome Mobile 65.0
4                   Chrome Mobile 61.0
5                          Chrome 66.0
6                   Chrome Mobile 63.0
7                          Chrome 67.0
8                          Chrome 65.0
9                          Safari 11.1
10                         Android 4.1
11                         Chrome 64.0
12                    Mobile Safari 10
13                  Chrome Mobile 44.0
14                          Opera 52.0
15                          Opera 53.0
16                          Opera 51.0
17                         Chrome 63.0
18                        IE Mobile 11
19                Samsung Internet 6.4
20                Samsung Internet 3.3
21                    Mobile Safari 11
22                  Chrome Mobile 40.0
23                         Chrome 22.0
24                       Edge 16.16299
25              Chrome Mobile iOS 47.0
26                     Mobile Safari 9
27                          Firefox 59
28                        Facebook 171
29                        Facebook 172
                    ...
337               Samsung Internet 1.1
338                        Chrome 57.7
339                  Mobile Safari 5.1
340                           Safari 3
341                 Chrome Mobile 37.0
342                         Opera 47.0
343                     Opera Mini 7.5
344                         Opera 41.0
345    Mobile Safari UI/WKWebView 11.3
346                           Safari 4
347                        Chrome 57.3
348                     Opera Mini 4.5
349                        Chrome 48.4
350                    Opera Mini 32.0
351                        Maxthon 5.1
352                  Opera Mobile 25.0
353                       Chrome 57.21
354                       Firefox 15.0
355                       Chrome 57.12
356                         Firefox 28
357                       Chrome 53.19
358                    UC Browser 10.7
359                      BingPreview 1
360                   Chrome Mobile 34
361                       Facebook 147
362                          Safari 10
363                        Facebook 97
364                      Chromium 63.0
365                       Facebook 139
366                  Firefox Mobile 57
Name: browser_version, Length: 367, dtype: object

In [37]:
le.fit(browserUnicos['browser_version'])
eventsWithLabel3['browser_version'] = le.fit_transform(eventsWithLabel3['browser_version'])

In [38]:
marcaUnicos = eventsWithLabel3.drop_duplicates(subset='marca', keep='first').reset_index()
marcaUnicos['marca']

0      Samsung
1          nan
2       iPhone
3         iPad
4     Motorola
5           LG
6      Quantum
7         Sony
8       Lenovo
9         Asus
10      Outros
11      Xiaomi
Name: marca, dtype: object

In [39]:
le.fit(marcaUnicos['marca'])
eventsWithLabel3['marca'] = le.fit_transform(eventsWithLabel3['marca'])

In [40]:
eventsWithLabel3['city'] = eventsWithLabel3['city'].fillna(value='idk')
ciudadUnicos = eventsWithLabel3.drop_duplicates(subset='city', keep='first').reset_index()
ciudadUnicos['city']

0                  Cantagalo
1                  São Paulo
2             Rio de Janeiro
3                    Niterói
4                Nova Iguaçu
5            Duque de Caxias
6               Praia Grande
7                  Juquitiba
8                     Osasco
9                     Santos
10                   Unknown
11                Vespasiano
12               Santa Luzia
13            Belo Horizonte
14                    Lavras
15                 Barbacena
16                   Juatuba
17                 Fortaleza
18        Ribeirão das Neves
19                 Guarulhos
20                    Manaus
21          Feira de Santana
22                   Joaçaba
23                Acailandia
24                Dom Eliseu
25                     Belém
26                  Itaborai
27           Itaquaquecetuba
28                     Macaé
29         Limoeiro do Norte
                ...
2145              Laurentino
2146                    Mata
2147                 Caseros
2148                     Rye
2149                  Tabira
2150               Ciudadela
2151            Caetanopolis
2152              Candelaria
2153                 Armazem
2154                    Tula
2155              Woodbridge
2156      Alvaro de Carvalho
2157                 Sapezal
2158                  Senges
2159           Vila Carvalho
2160          Jose Bonifacio
2161                Banabuiu
2162         Tenente Ananias
2163               Campo Ere
2164         Siqueira Campos
2165               Narandiba
2166    Conceicao do Almeida
2167                 Lansing
2168                Sao Joao
2169             Santa Lucia
2170      Santana do Paraiso
2171                 Castelo
2172                Rondinha
2173              Terra Rica
2174    Camocim de Sao Felix
Name: city, Length: 2175, dtype: object

In [41]:
le.fit(ciudadUnicos['city'])
eventsWithLabel3['city'] = le.fit_transform(eventsWithLabel3['city'])

In [42]:
eventsWithLabel3['region'] = eventsWithLabel3['region'].fillna(value='idk')
regionUnicos = eventsWithLabel3.drop_duplicates(subset='region', keep='first').reset_index()
regionUnicos['region']

0                                       Rio de Janeiro
1                                            Sao Paulo
2                                              Unknown
3                                         Minas Gerais
4                                                Ceara
5                                             Amazonas
6                                                Bahia
7                                       Santa Catarina
8                                             Maranhao
9                                                 Para
10                                 Rio Grande do Norte
11                                   Rio Grande do Sul
12                                               Goias
13                                      Espirito Santo
14                                    Federal District
15                                              Parana
16                                           Tocantins
17                                  Mato Grosso do Sul
18                                          Pernambuco
19                                             Sergipe
20                                             Paraíba
21                                               Piaui
22                                    British Columbia
23                                         Mato Grosso
24                                             Alagoas
25                                            Rondonia
26                                             Navarre
27                                                Acre
28                                          New Jersey
29                                               Turin
                            ...
87     Central Singapore Community Development Council
88                          Departamento de Santa Cruz
89                                           Thuringia
90                                             Mendoza
91                                            Colorado
92                                              Chubut
93                                           Bucuresti
94                                  Provincia di Lecce
95                                               Milan
96                                         Oujda-Angad
97                                        Pennsylvania
98                                             Wrexham
99                                               Tyrol
100                                              North
101                                            Morelos
102                                               Utah
103                                             Madrid
104                                            Essonne
105                                           Oklahoma
106                                            Setúbal
107                                      Sofia-Capital
108                             Departamento de La Paz
109                                    Luanda Province
110                                           Asuncion
111                                            El Beni
112                       Departamento del Alto Parana
113                                     Tinh Quang Nam
114                                 Thanh Pho GJa Nang
115                                             Quezon
116                                  Tul'skaya Oblast'
Name: region, Length: 117, dtype: object

In [43]:
le.fit(regionUnicos['region'])
eventsWithLabel3['region'] = le.fit_transform(eventsWithLabel3['region'])

In [44]:
eventsWithLabel3['country'] = eventsWithLabel3['country'].fillna(value='idk')
paisUnicos = eventsWithLabel3.drop_duplicates(subset='country', keep='first').reset_index()
paisUnicos['country']

0                    Brazil
1                   Unknown
2             United States
3                    Canada
4                    France
5                     Spain
6                     Italy
7                   Germany
8                 Argentina
9                    Mexico
10                 Paraguay
11             South Africa
12              Netherlands
13                  Belgium
14       Dominican Republic
15                  Jamaica
16                   Russia
17                  Ukraine
18                  Uruguay
19                 Portugal
20                  Vietnam
21                  Georgia
22               Cape Verde
23                     Peru
24               Costa Rica
25               Mozambique
26                  Algeria
27               Bangladesh
28               Guadeloupe
29                   Israel
30                   Sweden
31           United Kingdom
32                  Ireland
33                    India
34                Singapore
35                  Bolivia
36          Slovak Republic
37                 Colombia
38                  Morocco
39                  Romania
40                  Austria
41                  Burundi
42                 Bulgaria
43                   Angola
44                 Pakistan
45              Philippines
46                 Cameroon
47            Guinea-Bissau
48    São Tomé and Príncipe
Name: country, dtype: object

In [45]:
le.fit(paisUnicos['country'])
eventsWithLabel3['country'] = le.fit_transform(eventsWithLabel3['country'])

In [46]:
eventsWithLabel3['device_type'] = eventsWithLabel3['device_type'].fillna(value='idk')
deviceUnicos = eventsWithLabel3.drop_duplicates(subset='device_type', keep='first').reset_index()
deviceUnicos['device_type']

0    Smartphone
1      Computer
2        Tablet
3       Unknown
Name: device_type, dtype: object

In [47]:
le.fit(deviceUnicos['device_type'])
eventsWithLabel3['device_type'] = le.fit_transform(eventsWithLabel3['device_type'])

In [48]:
eventsWithLabel3['SO'] = eventsWithLabel3['SO'].fillna(value='idk')
SOUnicos = eventsWithLabel3.drop_duplicates(subset='SO', keep='first').reset_index()
SOUnicos['SO']

0         Android 7
1         Android 5
2         Android 6
3         Windows 8
4         Windows 7
5        Windows 10
6         Android 4
7            Mac OS
8            iOS 10
9     Windows Phone
10           iOS 11
11            Linux
12            iOS 7
13            iOS 9
14        Android 8
15       Windows XP
16        Chrome OS
17           Ubuntu
18          Android
19            Other
20            iOS 8
21    Windows Vista
22          Tizen 3
23    BlackBerry OS
24          FreeBSD
25        Android 2
26        Android 3
27           Fedora
28            iOS 3
29          Tizen 2
30       Windows RT
31            iOS 6
32            iOS 5
33       Symbian OS
34       Android 10
Name: SO, dtype: object

In [49]:
le.fit(SOUnicos['SO'])
eventsWithLabel3['SO'] = le.fit_transform(eventsWithLabel3['SO'])

In [50]:
eventsWithLabel3['channel'] = eventsWithLabel3['channel'].fillna(value='idk')
channelUnicos = eventsWithLabel3.drop_duplicates(subset='channel', keep='first').reset_index()
channelUnicos['channel']

0     Organic
1        Paid
2    Referral
3      Direct
4      Social
5       Email
6     Unknown
Name: channel, dtype: object

In [51]:
le.fit(channelUnicos['channel'])
eventsWithLabel3['channel'] = le.fit_transform(eventsWithLabel3['channel'])

In [52]:
eventsWithLabel3['person'] = eventsWithLabel3['person'].fillna(value='idk')
personUnicos = eventsWithLabel3.drop_duplicates(subset='person', keep='first').reset_index()
personUnicos['person']

0        4886f805
1        ad93850f
2        0297fc1e
3        2d681dd8
4        cccea85e
5        4c8a8b93
6        1b9f7cf6
7        29ebb414
8        de8fe91b
9        45baf068
10       99abca5a
11       3dc1950f
12       8ea4c165
13       64f45e8d
14       d8cfe234
15       ade6b3bf
16       d73ae9ef
17       d6bc64df
18       ec9c4059
19       b2cde41a
20       15ea8012
21       43790d8f
22       2a724d87
23       429c8732
24       686c49c9
25       4e03ed9a
26       a08d42ea
27       16fad36a
28       be32e904
29       6e6770c3
           ...
38212    24f53ba2
38213    b8ae9999
38214    4e92e3f5
38215    39cf8fa0
38216    f85da107
38217    fd2c209b
38218    f4b2172d
38219    3adf7ca4
38220    c9552fad
38221    ef4e52ab
38222    100f33c8
38223    85e0f62a
38224    0afaecc8
38225    2c209f87
38226    4ddb8c19
38227    9979305a
38228    25bd8078
38229    87d306fc
38230    a2b1e355
38231    fb88a7ea
38232    1315ce31
38233    af3374ad
38234    023581f9
38235    9707cd0e
38236    88b91c5d
38237    6f7632db
38238    a1c2a901
38239    ed3f80d7
38240    2adb3684
38241    39fa45b6
Name: person, Length: 38242, dtype: object

In [53]:
le.fit(personUnicos['person'])
eventsWithLabel3['person'] = le.fit_transform(eventsWithLabel3['person'])

In [54]:
eventsWithLabel3['fecha'] = eventsWithLabel3['fecha'].fillna(value='idk')
fechaUnicos = eventsWithLabel3.drop_duplicates(subset='fecha', keep='first').reset_index()
fechaUnicos['fecha']

0      2018-05-18
1      2018-05-16
2      2018-05-22
3      2018-05-14
4      2018-05-19
5      2018-05-03
6      2018-05-28
7      2018-05-21
8      2018-05-23
9      2018-05-26
10     2018-05-24
11     2018-05-10
12     2018-05-25
13     2018-05-17
14     2018-03-12
15     2018-03-15
16     2018-04-20
17     2018-03-20
18     2018-04-23
19     2018-04-24
20     2018-04-02
21     2018-05-02
22     2018-04-17
23     2018-03-22
24     2018-04-06
25     2018-03-06
26     2018-04-21
27     2018-04-15
28     2018-03-16
29     2018-03-21
          ...
121    2018-01-07
122    2018-01-13
123    2018-01-11
124    2018-01-17
125    2018-01-10
126    2018-01-08
127    2018-01-06
128    2018-01-22
129    2018-02-17
130    2018-01-26
131    2018-02-06
132    2018-02-09
133    2018-02-01
134    2018-02-18
135    2018-01-21
136    2018-02-24
137    2018-01-04
138    2018-01-19
139    2018-03-03
140    2018-02-10
141    2018-02-08
142    2018-01-02
143    2018-02-16
144    2018-02-14
145    2018-02-03
146    2018-02-12
147    2018-02-11
148    2018-01-05
149    2018-01-03
150    2018-01-01
Name: fecha, Length: 151, dtype: object

In [55]:
le.fit(fechaUnicos['fecha'])
eventsWithLabel3['fecha'] = le.fit_transform(eventsWithLabel3['fecha'])

In [56]:
eventsWithLabel3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2319285 entries, 0 to 2319284
Data columns (total 29 columns):
timestamp            datetime64[ns]
event                int64
person               int64
url                  object
sku                  float64
model                int64
condition            int64
storage              int64
color                int64
skus                 object
search_term          int64
staticpage           object
campaign_source      int64
search_engine        int64
screen_resolution    int64
browser_version      int64
label                float64
eventos              object
dayweek              int64
fecha                int64
marca                int64
cantEventos          int64
city                 int64
SO                   int64
country              int64
region               int64
device_type          int64
channel              int64
new_vs_returning     object
dtypes: datetime64[ns](1), float64(2), int64(21), object(5)
memory usage: 530.8+ MB

In [57]:
eventsWithLabel3.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,fecha,marca,cantEventos,city,SO,country,region,device_type,channel,new_vs_returning
0,2018-05-18 00:11:59,9,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
1,2018-05-18 00:30:30,9,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
2,2018-05-18 00:07:23,6,10802,NaN,NaN,207,5,8,62,NaN,...,137,11,9,414,7,7,90,1,2,New
3,2018-05-18 00:11:56,2,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
4,2018-05-18 00:11:35,9,10802,NaN,9287.0,103,3,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New

In [58]:
testDF = eventsWithLabel3.loc[eventsWithLabel3['label'].isnull()]
testDF.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,fecha,marca,cantEventos,city,SO,country,region,device_type,channel,new_vs_returning
0,2018-05-18 00:11:59,9,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
1,2018-05-18 00:30:30,9,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
2,2018-05-18 00:07:23,6,10802,NaN,NaN,207,5,8,62,NaN,...,137,11,9,414,7,7,90,1,2,New
3,2018-05-18 00:11:56,2,10802,NaN,9288.0,103,2,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New
4,2018-05-18 00:11:35,9,10802,NaN,9287.0,103,3,3,28,NaN,...,137,6,9,414,7,7,90,1,2,New

In [59]:
trainingDF = eventsWithLabel3.loc[eventsWithLabel3['label'].notnull()]
trainingDF.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,fecha,marca,cantEventos,city,SO,country,region,device_type,channel,new_vs_returning
9,2018-05-18 00:11:27,9,25876,NaN,304.0,196,3,3,20,NaN,...,137,10,65,1977,5,7,94,1,3,Returning
10,2018-05-18 00:23:33,9,25876,NaN,318.0,196,3,6,37,NaN,...,137,10,65,1977,5,7,94,1,3,Returning
11,2018-05-18 00:16:10,9,25876,NaN,5907.0,196,1,1,20,NaN,...,137,10,65,1977,5,7,94,1,3,Returning
12,2018-05-18 00:14:55,9,25876,NaN,6023.0,196,1,1,28,NaN,...,137,10,65,1977,5,7,94,1,3,Returning
13,2018-05-18 00:11:26,0,25876,/comprar/iphone/iphone-5s,NaN,207,5,8,62,NaN,...,137,11,65,1977,5,7,94,1,3,Returning

In [60]:
trainingDF['storage'].value_counts()

8    502954
1    219436
3    214863
6    114570
0     49850
7     47188
2      9035
4      2487
5       594
Name: storage, dtype: int64

In [61]:
trainingDF['color'].value_counts()

62    502954
38    158589
28    136577
20     74598
8      63296
37     56770
34     39588
51     21637
36     18094
46     15989
2       9775
35      8240
1       7483
44      7446
33      5465
19      3463
61      3455
6       3209
58      2851
7       2284
50      1994
17      1843
56      1656
40      1317
30       942
0        858
18       827
3        776
32       750
60       735
       ...
53       560
52       427
49       382
14       363
4        361
26       350
54       320
5        285
31       258
10       256
45       155
22       125
12       123
24       107
47       105
41        98
23        96
29        77
57        71
21        61
59        56
48        52
63        51
16        50
25        44
42        37
43        32
39        14
27        13
55         5
Name: color, Length: 64, dtype: int64

In [62]:
trainingDF['campaign_source'].value_counts()

14    1066801
13      60535
9       12576
20      11524
23       3263
11       1829
16        877
5         853
1         685
21        482
19        437
6         415
10        196
8         146
15        140
0          81
4          42
7          28
17         23
22         17
2          10
18         10
12          4
3           3
Name: campaign_source, dtype: int64

In [63]:
trainingDF['search_engine'].value_counts()

4    1108478
2      51912
1        348
3        236
0          3
Name: search_engine, dtype: int64

In [64]:
trainingDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1160977 entries, 9 to 2319284
Data columns (total 29 columns):
timestamp            1160977 non-null datetime64[ns]
event                1160977 non-null int64
person               1160977 non-null int64
url                  94112 non-null object
sku                  658023 non-null float64
model                1160977 non-null int64
condition            1160977 non-null int64
storage              1160977 non-null int64
color                1160977 non-null int64
skus                 247387 non-null object
search_term          1160977 non-null int64
staticpage           5580 non-null object
campaign_source      1160977 non-null int64
search_engine        1160977 non-null int64
screen_resolution    1160977 non-null int64
browser_version      1160977 non-null int64
label                1160977 non-null float64
eventos              1160977 non-null object
dayweek              1160977 non-null int64
fecha                1160977 non-null int64
marca                1160977 non-null int64
cantEventos          1160977 non-null int64
city                 1160977 non-null int64
SO                   1160977 non-null int64
country              1160977 non-null int64
region               1160977 non-null int64
device_type          1160977 non-null int64
channel              1160977 non-null int64
new_vs_returning     1160977 non-null object
dtypes: datetime64[ns](1), float64(2), int64(21), object(5)
memory usage: 265.7+ MB

In [65]:
label_array = np.array(trainingDF['label'])
data_array = np.array(trainingDF.drop(['label', 'static_page'], axis=1))

KeyError: "['static_page'] not found in axis"

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data_array, label_array, test_size = 0.30, random_state = 1)

In [ ]:
def logisticReg(x_train, x_test, y_train, y_test):
    logReg = LogisticRegression(solver='sag', random_state=1)
    logReg.fit(x_train, y_train)
    y_pred = logReg.predict(x_test)
    return np.sqrt(mean_squared_error(y_test, y_pred))
#TAMBIEN PUEDEN USAR PARA VER EL ACCURACY
#ACCURACY = accuracy_score(y_test, y_pred)

In [ ]:
def knn(k, x_train, x_test, y_train, y_test):
    knn = KNeighborsClassifier(n_neighbors=k, metric='manhattan')
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    return np.sqrt(mean_squared_error(y_test, y_pred))
#TAMBIEN PUEDEN USAR PARA VER EL ACCURACY
#ACCURACY = accuracy_score(y_test, y_pred)

In [ ]:
def decisionTree(max_depth, max_features, x_train, x_test, y_train, y_test):
    dt = DecisionTreeClassifier(max_depth=max_depth, max_features=max_features)
    dt.fit(x_train, y_train)
    y_pred = dt.predict(x_test)
    return np.sqrt(mean_squared_error(y_test, y_pred))
#TAMBIEN PUEDEN USAR PARA VER EL ACCURACY
#ACCURACY = accuracy_score(y_test, y_pred)

In [ ]:
def xgboost(max_depth, n_estimators, x_train, x_test, y_train, y_test):
    xgb = XGBClassifier(max_depth=max_depth, n_estimators=n_estimators)
    xgb.fit(x_train, y_train)
    y_pred = xgb.predict(x_test)
    return np.sqrt(mean_squared_error(y_test, y_pred))
#TAMBIEN PUEDEN USAR PARA VER EL ACCURACY
#ACCURACY = accuracy_score(y_test, y_pred)

In [ ]:
result = logisticReg(x_train, x_test, y_train, y_test)
result